
#login-wrapper{
    margin: 8px;
}

#login-card{
    max-width: 600px;
    margin: 60px auto;
}

#login-card h2{
    margin-top: 0;
    text-align: center;
}

#links a{
    margin-right: 8px;
}

.inp-container{
    margin-bottom: 6px;
}