
#main-nav{
    display: flex;
    width: 100%;
    top: 0;
    padding: 0 16px;
    z-index: 10000;
}

#main-nav h1{
    margin: 12px 0;
    color: #fff;
}

#nav-links{
    display: flex;
    align-items: center;
}

#nav-links a{
    margin-left: 16px;
    color: white;
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    transition-duration: 120ms;
}
