
/* global styles define here */

/*
    primary {
        Dark #002171
        Default #0d47a1
        Light #5472d3
    }

    accent {
        Dark #ff6090
        Default #e91e63
        Light #b0003a
    }

    warn {
        Dark #9a0007
        Default #d32f2f
        Light #ff6659
    }
*/

:root{
    --primary-dark: #0a328f;
    --primary: #0d47a1;
    --primary-light: #5472d3;
    --accent-dark: #b0003a;
    --accent: #e91e63;
    --accent-light: #ff6090;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: Arial;
    scroll-behavior: smooth;
}

a{
    color: #7ec0f7;
}

h1, h2, h3, h4, h5, h6{
    color: #333;
}

button, .btn, .rounded-btn, .block-btn{
	font-weight: 600;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

hr{
    margin: 20px -16px;
    border: 0;
    border-top: 1px solid #eee;
}

.primary-dark{
    background-color: var(--primary-dark);
    color: white;
}

.primary{
    background-color: var(--primary);
    color: white;
}

.primary-light{
    background-color: var(--primary-light);
    color: white;
}

.accent-light{
    background-color: var(--accent-light);
    color: white;
}

.accent{
    background-color: var(--accent);
    color: white;
}

.accent-dark{
    background-color: var(--accent-dark);
    color: white;
}

.m-shd-l1{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.m-shd-l2, .active-card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.m-shd-l3{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.block-btn{
    border-radius: 5px;
    text-decoration: none;
    padding: 6px 12px;
}

.rounded-btn{
    padding: 6px 12px;
    border-radius: 50px;
    text-decoration: none;
}

.header-l1{
    font-size: 23px;
}

.header-l2{
    font-size: 32px;
}

.header-l3{
    font-size: 48px;
}

.m-input input{
    border-radius: 0;
    border: 0;
    transition-duration: 150ms;
    outline: none;
    font-size: 18px;
    margin: 4px 0;
}

.underline input{
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}

.underline input:focus{ 
    border-bottom-width: 4px;
    border-color: var(--primary);
}

.underline input:focus .underline{
    border-bottom-width: 4px;
}

.card{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    min-width: 300px;
    box-sizing: border-box;
    transition-duration: 250ms;
}

.spacer{
    flex: 1;
}

.full-width{
    width: 100%;
}

.content{
    padding: 30px;
}

@media(max-width: 600px){
    .content, .card{
        padding: 16px;;
    }
}
